<section id="articles" class="articles">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h2>Articles</h2>
            <hr class="small">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            'test'
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>