<aside class="call-to-action bg-primary" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Events</h2>    
        {% assign events = (site.events | sort: event['event date']) | reverse %}
        {% for event in events %}
          {% if event['end time'] %}
            <h3>{{ event.title }} | {{ event['event date'] | date: "%B %-d, %Y" }} {{ event['start time'] }} - {{ event['end time'] }}</h3>
          {% else %}
            <h3>{{ event.title }} | {{ event['event date'] | date: "%B %-d, %Y" }} {{ event['start time'] }}</h3>
          {% endif %}
          <span class="address"><a href="https://maps.google.com/?q={{event.address}}" target="_blank" rel="noopener noreferrer">{{event.address}}</a></span>
        {% endfor %}
      </div>
    </div>
  </div>
</aside>
