<section id="action" class="actions bg-primary">
    <div class="container">
        <h2 class="text-center">Take Action</h2>
        <hr class="small">
        <div class="row">
            <div class="col-md-12 action">
                <h3 class="text-center">Contact the City Council of Commerce City</h3>
                <p>You deserve to be heard! The City Council is here to serve you and sending a email or even a quick call to voice your opinion can go a long way! Let them know that you do not support fracking in residential areas and are concerned about the oil and gas industry's growing presence in our neighborhoods. Let them know that oil and gas operations are dangerous and should not be happening close to our homes, schools and drinking water.</p>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled text-center">
                            <li>Sean Ford - Mayor <span class="contact-info"><a href="tel:303-720-9106">(303) 720-9106</a> - <a href="mailto:sford@c3gov.com">sford@c3gov.com</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled text-center">
                            <li>Steve Davis - Councilman, Ward IV <span class="contact-info"><a href="tel:303-710-7524">(303) 710-7524</a> - <a href="mailto:stdavis@c3gov.com">stdavis@c3gov.com</a></span></li>
                            <li>Steven J. Douglas - Councilman, At-Large <span class="contact-info"><a href="tel:720-205-2621">(720) 205-2621</a> - <a href="mailto:sdouglas@c3gov.com">sdouglas@c3gov.com</a></span></li>
                            <li>Craig Hurst - Councilman, At-Large <span class="contact-info"><a href="tel:720-899-0808">(720) 899-0808</a> - <a href="mailto:churst@c3gov.com">churst@c3gov.com</a></span></li>
                            <li>Nicole Frank - Councilwoman, Ward III <span class="contact-info"><a href="tel:720-773-0134">(720) 773-0134</a> - <a href="mailto:nfrank@c3gov.com">nfrank@c3gov.com</a></span></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled text-center">
                            <li>José Guardiola - Councilman, At-Large <span class="contact-info"><a href="tel:720-249-8869">(720) 249-8869</a> - <a href="mailto:jguardiola@c3gov.com">jguardiola@c3gov.com</a></span></li>
                            <li>Benjamin Huseman - Councilman, At-Large <span class="contact-info"><a href="tel:417-770-4019">(417) 770-4019</a> - <a href="mailto:bhuseman@c3gov.com">bhuseman@c3gov.com</a></span></li>
                            <li>Oscar Madera - Councilman, Ward I <span class="contact-info"><a href="tel:720-231-8039">(720) 231-8039</a> - <a href="mailto:omadera@c3gov.com">omadera@c3gov.com</a></span></li>
                            <li>Ricky A. Teter - Councilman, Mayor Pro Tem & Ward II <span class="contact-info"><a href="tel:303-378-2299">(303) 378-2299</a> - <a href="mailto:rteter@c3gov.com">rteter@c3gov.com</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 action">
                <h3 class="text-center">Contact your State Senator and The Governor</h3>
                    <p>Write to your State Senator and the Governor to let them know you support legislation that limits fracking near our homes. Your communications give them the evidence they need to pass legislation that we want!</p>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled text-center">
                                <li>Governor Jared Polis<span class="contact-info"><a href="https://www.colorado.gov/governor/share-your-comments">Share your Comments with the Governor</a></span></li>
                                <li>Dominick Moreno, Colorado State Senator - Senate District 21 <span class="contact-info"><a href="tel:720-985-1132">(720) 985-1132</a> - <a href="mailto:moreno.dominick@gmail.com">moreno.dominick@gmail.com</a></span></li>
                                <li>Dafna Michaelson Jenet - Colorado State Representative - House District 30<span class="contact-info"><a href="tel:303-866-2945">(303) 866-2945</a> - <a href="mailto:dafna.michaelson.jenet.house@state.co.us">dafna.michaelson.jenet.house@state.co.us</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>