<section id="tweets" class="tweets">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="twitter-timeline" href="https://twitter.com/{{ site.twitter_username }}?ref_src=twsrc%5Etfw" data-tweet-limit="2">Tweets by NRConcerned</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
